/* You can add global styles to this file, and also import other style files */

$width: 300px;
$height: 200px;

body {
  background: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 27px;
  font-weight: bold;

  div[class^='box-'] {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
  }
}


.box-a {
  background: lime;
  width: $width;
  height: $height;
}

.box-b {
  background: purple;
  width: $width;
  height: $height;
}

.box-c {
  background: orange;
  width: $width;
  height: $height;
}
